.container {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 20px;
  margin: 20px 0px;
}
.items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.item {
  border: 5px solid rgb(240, 215, 215);
  position: relative;
  width: 300px;
  height: 300px;
  background-size: contain !important;
}
.item:nth-child(1) {
  background: url('/illustration.png');
}

.title1 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
}
.item:hover .title1 {
  color: green;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.imgCont {
  flex: 1;
  width: 400px;
  height: 400px;
}
.img {
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.textCont {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.desc {
  margin-bottom: 25px;
}
.profileCont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.profileImgCont {
  width: 25px;
  height: 25px;
}
.profileImgCont .img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
}
