.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.socialpics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-size: small;
}
.icon{
  opacity: 0.6;
  cursor: pointer;
}
